{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block About %}
<body>
    <header>
        <h1>Welcome to About Page Of Your To-Do Web App!</h1>
        <!-- <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav> -->
    </header>
    <main>
        <section class="about">
            <h2>Our Mission</h2>
            <p>Our mission is to help individuals and teams manage their tasks effectively, prioritize their work, and achieve their goals. We aim to provide a user-friendly interface and essential features that make task management a breeze.</p>
        </section>
        <section class="features">
            <h2>Features:</h2>
            <ul>
                <li>Task Management: Create, edit, and delete tasks with ease.</li>
                <li>User Authentication: Secure and easy-to-use login and registration system.</li>
                <li>Responsive Design: Accessible on all devices for seamless task management.</li>
                <li>Due Dates and Reminders: Stay on top of your schedule with due dates and reminders.</li>
                <li>Filter and Sort: Easily find and organize your tasks based on different criteria.</li>
            </ul>
        </section>
        <section class="technologies">
            <h2>Technologies Used:</h2>
            <ul>
                <li>Frontend: HTML, CSS, JavaScript</li>
                <li>Backend: Python (Flask)</li>
                <li>Database: Flask-SQLAlchemy</li>
                <li>Authentication: JWT (JSON Web Tokens)</li>
            </ul>
        </section>
        <section class="why-choose">
            <h2>Why Choose Our To-Do Web App?</h2>
            <ul>
                <li>User-Friendly: Intuitive design and easy navigation.</li>
                <li>Secure: Your data is protected with robust security measures.</li>
                <li>Efficient: Features designed to enhance productivity and time management.</li>
                <li>Accessible: Use the app on any device, anywhere, anytime.</li>
            </ul>
        </section>
        <section class="contact">
            <h2>Contact Us:</h2>
            <p>If you have any questions or feedback, feel free to reach out to us at <a href="kaushalparmarofficial@gmail.com">kaushalparmarofficial@gmai.com</a>. We are constantly working to improve our app and appreciate your input.</p>
        </section>
    </main>
    <!-- <footer>
        &copy; 2024 ToDoWebApp By Kaushal Parmar
    </footer> -->
</body>

{% endblock About %}