{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block Home %}
<body>
    <header>
        <h1>Welcome to Home Page Of Your To-Do Web App!</h1>
        <!-- <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav> -->
    </header>
    <main>
        <section class="features">
            <h2>Stay organized and boost your productivity with our simple yet powerful task management tool.</h2>
            <p>Our To-Do Web App is designed to help you keep track of your tasks, set priorities, and manage your time effectively.</p>
            <h3>Key Features:</h3>
            <ul>
                <li>Task Management: Easily create, edit, and delete tasks.</li>
                <li>User Authentication: Securely log in to access your personal to-do list.</li>
                <li>Responsive Design: Use the app seamlessly on any device, be it a desktop, tablet, or smartphone.</li>
                <li>Due Dates and Reminders: Set due dates for tasks and get timely reminders.</li>
                <li>Filter and Sort: Organize your tasks by status, date, or priority.</li>
            </ul>
        </section>
        <section class="get-started">
            <h3>Get Started:</h3>
            <ol>
                <li>Sign Up: Create a new account in just a few steps.</li>
                <li>Log In: Access your personalized to-do list from anywhere.</li>
                <li>Add Tasks: Start creating tasks and organizing your day.</li>
            </ol>
            <p>Take control of your productivity today with our To-Do Web App!</p>
        </section>
    </main>
    
</body>
    <!-- <footer>
        <p>&copy; 2024 ToDoWebApp By Kaushal Parmar</p>
    </footer> -->
{% endblock Home %}
